<h2>@ViewBag.render</h2>
<form asp-action="Index" class="w3-container w3-panel w3-leftbar w3-border-blue w3-pale-blue">
    <label for="hsa" class="w3-margin-top">He so A</label>
    <input type="number" name="hesoA" id="hsa" class='w3-input w3-border w3-round-large '>
    <br>

       <label for="hsb">He so B</label>
    <input type="number" name="hesoB" id="hsb"  class='w3-input w3-border w3-round-large'>
    <br>


       <label for="hsc">He so C</label>
    <input type="number" name="hesoC" id="hsc"  class='w3-input w3-border w3-round-large '>
    <br>

    <input type="submit" value="OK" class="w3-btn w3-blue w3-margin-bottom">
</form>